
<!DOCTYPE html>
<html>
<head>
	<title>LBO</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/media/images/icon.png" type="image">
</head>
<body>

{% include "home/header.html" %}
<div class="main_column element">

{% block main_content %}{% endblock %}

</div>


<div class="second_column">
	{% block second_column %}
	<div class="discount element">
		<h1>Скидка на:</h1>
		<img src="/media/images/book3.jpg" alt="" class="img_slide">
		<div class="img_title">Cупер хрень</div>
		<div class="author_name">Молодой казак</div>
	</div>
	{% endblock %}
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/js.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/needed.js')}}"></script>
</body>
</html>
